@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button:focus, input:focus, textarea:focus {
	outline: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(180deg,#1344a4,#011156);
  color: #ffffff;
}

.container {
	max-width: 1200px !important;
}

.tab_banking_wrapper {
	padding: 80px 0;
}

.tab_banking_wrapper .tab_banking_head {
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 40px;
}

.tab_banking_wrapper .tab_banking_head p {
    text-transform: uppercase;
}

.tab_banking_wrapper .tab_banking_head h2 {
    font-size: 44px;
    font-weight: 700;
}

.tab_banking_wrapper .nav {
	  border-top: 2px solid #989898 !important;
}

.tab_banking_wrapper .nav button.active {
	  background: #b4e717;
	  color: #ffffff;
	  border-left: 2px solid #b4e717 !important;
    border-right: 2px solid #b4e717 !important;
    border-bottom: 2px solid #b4e717 !important;
}

.tab_banking_wrapper .nav button {
    background: transparent;
    padding: 20px;
    color: #ffffff;
    font-size: 24px;
    text-align: left;
    display: flex;
    align-items: flex-start;
    border-left: 2px solid #989898 !important;
    border-right: 2px solid #989898 !important;
    border-bottom: 2px solid #989898 !important;
    border: transparent;
    font-weight: 500;
}

.tab_banking_wrapper .nav button i {
    font-size: 40px;
    margin-right: 15px;
    width: 70px;
}

.tab_banking_wrapper .tab_wrap {
    background: #ffffff;
    border-radius: 10px;
    overflow: hidden;
}

.tab_banking_wrapper .tab_wrap a {
	  display: block;
}

.tab_banking_wrapper .tab_wrap figure {
	  width: 100%;
	  height: 100%;
	  overflow: hidden;
}

.tab_banking_wrapper .tab_wrap:hover .bank_img img {
	  transform: scale(1.10);
}

.tab_banking_wrapper .tab_wrap figure .bank_img img {
    width: 100%;
    height: 405px;
    object-fit: cover;
    transition: 0.4s all ease-in-out;
}

.tab_banking_wrapper .tab_wrap .tab_content {
	padding: 25px;
	position: relative;
}

.tab_banking_wrapper .tab_wrap .tab_content h3 {
    font-size: 25px;
    font-weight: 700;
}

.tab_banking_wrapper .tab_wrap .tab_content h3 a {
	  color: #000000;
	  text-decoration: none;
}

.tab_banking_wrapper .tab_wrap .tab_content p {
	  color: #000000;
}

.tab_banking_wrapper .tab_wrap .tab_content .arrow_icon {
    background: #b4e717;
    width: 50px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    position: absolute;
    right: 0;
    bottom: 0;
}

.tab_banking_wrapper .tab_wrap .tab_content .arrow_icon i {
    font-size: 20px;
    transform: rotate(45deg);
}